.challengeCard{
    border-width: 3px !important;
    border-color: black !important;
    border-radius: 10px !important;
    margin-bottom: 3rem !important;
    height: 10rem !important;
}
.challengeCard:hover{
    height: fit-content !important;
}
.challengeCard:hover .description{
    white-space: wrap;
    overflow: visible;
    white-space: normal;
    z-index: 20;
    
    
}
.title{
    margin-top: -2.25rem !important; 
    padding-left: 5px;
    font-size: 1.5rem !important;
    background-color: white !important;
    font-weight: bold !important;
    text-transform:uppercase;
}
.button{
    background-color: white !important;
    color: black !important;
    border: none !important;
    font-size: 1rem !important;
    margin-bottom: -3rem;
    font-weight: bold !important;
}
.description{
    color: gray;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}