.challengeCard{
    border-width: 3px !important;
    border-color: black !important;
    border-radius: 10px !important;
    margin-bottom: 3rem !important;
    width: 95%;
    min-height: 15rem;
    max-height: 15rem;
}
.challengeCard:hover{
    height: fit-content !important;
}
.challengeCard:hover .description{
    white-space: wrap;
    overflow: visible;
    white-space: normal;
    z-index: 20;
}
.title{
    margin-top: -2.25rem !important; 
    padding-left: 5px;
    font-size: 1.5rem !important;
    background-color: white !important;
    font-weight: bold !important;
    text-transform:uppercase;
}
.button{
    background-color: white !important;
    color: black !important;
    border: none !important;
    font-size: 1rem !important;
    margin-bottom: -2rem;
    font-weight: bold !important;
}
.buttonBox{
    display:flex;
    justify-content: space-between;
}
.description{
    color: black;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.verifier{
    color: gray;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-left: 0.75rem;
    font-size: 0.75rem !important;
}
.usersInfo{
    color:gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;

}
.date{
    color:gray;
    font-size: 0.75rem;
}
