.customContainer{
    justify-content: center !important;
    display: flex !important;
    margin-top: 5rem !important;
}
.textWithoutTasks{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9rem;
    color: #565656;
}
h1{color: black;}
.sectionLink{
    text-decoration-color: #565656;
    color:#565656
} 
.sectionLink:hover{
        color: #565656;
}
.filtersBox{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}
.loginControls{
  border: 2px solid black !important;
}
.loginControls:focus{
  outline: none !important;
  box-shadow: none !important;
}
.searchBox{justify-content: center; display: flex; padding: 1rem;}